body{
  background-size: cover;
  box-sizing: border-box;
  background-image: url('background.jpg');
}

.cont1{
  height: 800px;
  width: 1000px;
  background-color: rgba(0,0,0,0.6);
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 25px;
}


#logo{
  height: 100px;
  width: 230px;
  background-image: url('logo.png');
  background-size: cover;
  margin: auto;

}

h1{
  text-align: center;
  color: rgb(0, 255, 0);
}

.cont2{
  background-color: rgb(0,255,0);
  height: 35px;
  width: 50vw;
  margin:auto;
  position: relative;
}

#btn{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.cont3{
  width: 50vw;
  height: 300px;
  margin: auto;
  margin-top: 30px;
}

h2{
  display: inline;
  color: white;
}

p{
  color: white;
  margin-left: 4px;
}

.mon{
  margin-top: 20px;
}

.carica1{
  background-color: orange;
  width: 20vw;
  height: 3vh;
  border-radius: 5px;
}

.carica2{
  background-color: rgb(0,255,0);
  height: 3vh;
  width: 40vw;
  border-radius: 5px;
}

.carica3{
  background-color: red;
  height: 3vh;
  width: 10vw;
  border-radius: 5px;
}
